.main-body {
    display: flex;
    height: 100%;
}

.left-panel {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    background-color: rgb(32, 32, 32);
    min-width: 240px;
    /* border:2px solid red; */
    border:2px solid rgb(32, 32, 32);
    height: 100%;
    overflow-y: hidden;
}

.left-panel:hover {
    overflow-y: scroll;
}

.left-panel-section {
    display: flex;
    flex-direction: column;
    width: 222px;
    min-width: 222px;
    max-width: 222px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid rgb(56,56,56);
}

.left-panel-section:first-child {
    margin-top: 0px;
    border-top: none;
}

.left-panel-section-title {
    margin-left: 25px;
    margin-bottom: 7px;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.left-panel-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(32, 32, 32);
    /* border: 2px solid green; */
    min-height: 40px;
    width: 100%;
}

.left-panel-button-text, .left-panel-icon {
    margin-left: 25px;
    color: white;
    font-size: small;
    font-weight: bold;
}

.videos-panel {
    background-color: rgb(56,56,56);
    width: 100%;
}