@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@85.6,800&family=Roboto:wght@300&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'roboto';
}

::-webkit-scrollbar {
  width: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-color: rgb(150, 150, 150);
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(18,18,18);
  overflow-y: hidden;
  /* border: 2px solid cyan; */
}
/* nav bar */
.navbar {
  display: flex;
  background-color: rgb(32,32,32);
  height: 50px;
  min-height: 50px;
  min-width: 100%;
}

/* nav left */
.navbar > .navleft {
  display: flex;
  align-items: center;
  flex: .75;
  background-color: rgb(32,32,32);
}

.burgermenu-icon {
  margin: 0px 25px;
  width: 27px;
  height: auto;
  cursor: pointer;
}

.youtubelogo {
  margin-right: 3px;
  width: auto;
  height: 40px;
  cursor: pointer;
}

.youtube-logo-name {
  color: white;
  font-size: large;
  font-weight: bold;
}

.youtube-logo-name-superscript {
  font-size: x-small;
  font-weight: 800;
  color: rgb(144,144,144);
  align-self: flex-start;
  margin-left: 3px;
  margin-top: 10px;
}

/* nav search */
.navbar > .searchsection {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 60px;
  background-color: rgb(32,32,32);
}

.search-field {
  flex: 8;
  min-width: 20px;
  color: white;
  background-color: rgb(18,18,18);
  height: 35px;
  margin-left: 5px;
  border: 1px solid rgb(49,49,49);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-field:focus {
  outline: none !important;
  border:1px solid rgb(59,168,255);
}

.search-icon-holder {
  flex: 1.3;
  height: 35px;
  background-color: rgb(49,49,49);
  border: 1px solid rgb(49,49,49);
  border-left: none;
  cursor: pointer;
}

.mic {
  display: flex;
  margin-left: 10px;
  background-color: rgb(49,49,49);
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.mic-icon {
  align-self: center;
  background-color: rgb(49,49,49);
}

/* nav right */
.navbar > .navright {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: .75;
  background-color: rgb(32,32,32);
}

.createVideo {
  margin-right: 10px;
  border: none;
  background-color: rgb(32,32,32);
  cursor: pointer;
}

.apps {
  margin-right: 10px;
  border: none;
  background-color: rgb(32,32,32);
  cursor: pointer;
}

.bell {
  margin-right: 10px;
  border: none;
  background-color: rgb(32,32,32);
  cursor: pointer;
}